* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.loader {
    margin: 15em 38em;
    border: 17px solid #e3e3e3;
    border-radius: 50%;
    border-top: 17px solid #da5252;;
    width: 140px;
    height: 140px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
